@model Shop.DTOs.AdressDTO
@{
    ViewData["Title"] = "AddAdress";
}

    <main>
        <form asp-action="AddAdress" asp-controller="Account" method="post" class="account-form">

            <div class="header">
                <span>Dodawanie adresu</span>
            </div>

            <div class="form-group">
                <input asp-for="City" placeholder="Miasto" />
                <span asp-validation-for="City"></span>
            </div>
            <div class="form-group">
                <input asp-for="Street" placeholder="Ulica" />
                <span asp-validation-for="Street"></span>
            </div>
            <div class="form-group">
                <input asp-for="PostCode" placeholder="Kod pocztowy" />
                <span asp-validation-for="PostCode"></span>
            </div>
            <div class="form-group">
                <input asp-for="BuildingNumber" placeholder="Numer budynku" />
                <span asp-validation-for="BuildingNumber"></span>
            </div>
            <div class="form-group">
                <input asp-for="FlatNumber" placeholder="Numer budynku" />
                <span asp-validation-for="FlatNumber"></span>
            </div>
          
            <button type="submit">Dodaj</button>
        </form>
    </main>

