@model Shop.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

    <main>
        <form asp-action="ChangePassword" asp-controller="Account" method="post" class="account-form">

            <div class="header">
                <span>Zmiana hasła</span>
            </div>

            <div class="form-group">
                <input asp-for="CurrentPassword" placeholder="Obecne hasło" />
                <span asp-validation-for="CurrentPassword"></span>
            </div>

            <div class="form-group">
                <input asp-for="NewPassword" placeholder="Nowe hasło" />
                <span asp-validation-for="NewPassword"></span>
            </div>

            <div class="form-group">
                <input asp-for="ConfirmPassword" placeholder="Potwierdź hasło">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div asp-validation-summary="ModelOnly"></div>

            <button type="submit">Zmień hasło</button>
        </form>
    </main>

