
@{
    ViewData["Title"] = "EmailConfirmedSuccesfully";
}

<main>
    <h2>Adres email został potwierdzony pomyślnie</h2>

    <p>Możesz zalogować się już na swoje konto.</p>

    <a asp-action="Login" asp-controller="Account" class="link-button">Zaloguj</a>
</main>