
@{
    ViewData["Title"] = "EmailConfirmedSuccesfully";
}

<main>
    <h2>Your email address has been successfully confirmed. </h2>

    <p class="additional-info">You can login to your account.</p>

    <a asp-action="Login" asp-controller="Account" class="link-button" style="margin: 20px auto;">Login</a>
</main>