
@{
    ViewData["Title"] = "ForgotPassword";
}

<main>
    
    <form asp-action="SendResetPasswordLink" asp-controller="Account" method="post" class="account-form">
        <div class="header">
            <span>Podaj adres email do Twojego konta</span>
        </div>

        <div class="form-group">
            <input name="email" placeholder="Adres email"/>
        </div>

        <button type="submit" class="link-button">Zatwierdź</button>
    </form>
</main>