@model Shop.Controllers.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" asp-controller="Account" method="post">

    <div class="form-group">
        <label asp-for="Email">Email adress:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <button type="submit">Zaloguj</button>
    </div>

    <a asp-action="Register" asp-controller="Account">Zarejestruj nowe konto</a>

    <div asp-validation-summary="ModelOnly"></div>

</form>
