
@{
    ViewData["Title"] = "PasswordResetFailed";
}

<main>
    <h2>Nie udało się zresetować hasła</h2>

    <p class="additional-info">Spróbój jeszcze raz lub kliknij ponownie <a asp-action="ForgotPassword" asp-controller="Account">link</a> resetujący.</p>
</main>

