
@{
    ViewData["Title"] = "PasswordResetFailed";
}

<main>
    <h2>Password reset failed</h2>

    <p class="additional-info">Try again or click the <a asp-action="ForgotPassword" asp-controller="Account">link</a></p>
</main>

