
@{
    ViewData["Title"] = "PasswordChangedSuccesfully";
}

<main>
    <h2>Your password has been changed successfully.</h2>

    <p class="additional-info">We set new password for your account. Don't forget about it the next time you log in :)</p>
</main>