
@{
    ViewData["Title"] = "PasswordResetMailSentSuccesfully";
}

<main>
    <h2>We sent you message with further instructions.</h2>

    <p class="additional-info">To complete the password recovery process, please log in to the email address provided.</p>
</main>

