
@{
    ViewData["Title"] = "PasswordResetSuccesfully";
}

<main>
    <h2>Hasło zostało zresetowane</h2>

    <p class="additional-info">Możesz zalogować się już na swoje konto używając nowego hasła.</p>

    <a asp-action="Login" asp-controller="Account" class="link-button" style="margin: 20px auto;">Zaloguj</a>
</main>

