
@{
    ViewData["Title"] = "PasswordResetSuccesfully";
}

<main>
    <h2>Password has been successfully reset.</h2>

    <p class="additional-info">You can log in to your account with your new password.</p>

    <a asp-action="Login" asp-controller="Account" class="link-button" style="margin: 20px auto;">Login</a>
</main>

