
@{
    ViewData["Title"] = "PasswordChangedSuccesfully";
}

<main>
    <h2>Hasło zostało zmienione pomyślnie</h2>

    <p class="additional-info">Ustawiliśmy nowe hasło dla Twojego konta. Nie zapomnij o tym przy kolejnej próbie logowania :)</p>
</main>