
@{
    ViewData["Title"] = "PasswordResetMailSentSuccesfully";
}

<main>
    <h2>Wysłaliśmy Ci wiadomość z dalszymi instrukcjami.</h2>

    <p class="additional-info">Aby dokończyć proces przywracania hasła, zaloguj sie na podany adres email.</p>
</main>

