
@{
    ViewData["Title"] = "RegisteredSuccessfully";
}

<main>
    <h2>Rejestracja przebiegła pomyślnie</h2>

    <p class="additional-info">Na podany adres e-mail wysłaliśmy Ci link potwierdzający.</p>
</main>
