
@{
    ViewData["Title"] = "RegisteredSuccessfully";
}

<main>
    <h2>Registration was successful</h2>

    <p class="additional-info">We have sent you confirmation link to the email-address provided.</p>
</main>
