@model Shop.ViewModels.UpdateUserViewModel
@{
    ViewData["Title"] = "Update";
}
<main>
    <form asp-action="Update" asp-controller="Account" method="post" class="account-form">

        <div class="header">
            <span>Edycja konta</span>
        </div>

        <input asp-for="Id" type="hidden" />

        <span class="section-name">Dane podstawowe</span>

        <div class="form-group">
            <label asp-for="FirstName">Imię</label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName">Nazwisko</label>
            <input asp-for="LastName" placeholder="Nazwisko" />
            <span asp-validation-for="LastName"></span>
        </div>

        <a href="" class="custom-link">Zmień email</a>

        <a href="" class="custom-link">Zmień hsało</a>

        @if (Model.Adress != null)
        {
            <span class="section-name">Dane adresowe</span>

            <div class="form-group">
                <label asp-for="Adress.City">Miasto</label>
                <input asp-for="Adress.City" />
                <span asp-validation-for="Adress.City"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress.Street">Ulica</label>
                <input asp-for="Adress.Street" />
                <span asp-validation-for="Adress.Street"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress.PostCode">Kod pocztowy</label>
                <input asp-for="Adress.PostCode" />
                <span asp-validation-for="Adress.PostCode"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress.BuildingNumber">Numer budynku</label>
                <input asp-for="Adress.BuildingNumber" />
                <span asp-validation-for="Adress.BuildingNumber"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress.FlatNumber">Numer mieszkania</label>
                <input asp-for="Adress.FlatNumber" />
                <span asp-validation-for="Adress.FlatNumber"></span>
            </div>
        }
        else
        {
            <a asp-action="AddAdress" asp-controller="Account" class="custom-link">Dodaj adres</a>
        }


        <button type="submit">Edytuj</button>
    </form>
</main>
