<div class="top-bar">
    <div class="options">
        <ul>
            @if (!User.IsInRole("Administrator"))
            {
                <li>
                    <a asp-action="GetAll" asp-controller="Favourites" class="favourites-icon"></a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="number-of-favourites"></div>
                    }
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Cart" class="cart-icon"></a>
                    <div class="number-of-cart-items"></div>
                </li>
            }

            <li class="account-icon"></li>
        </ul>
        <div class="account-options-popup">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Administrator"))
                {
                    <a asp-action="Create" asp-controller="Product">Dodaj produkt</a>
                    <a href="#">Zamówienia</a>
                }
                else
                {
                    <span>@User.Identity.Name</span>
                }
                <a asp-action="LogOut" asp-controller="Account">Wyloguj</a>
            }
            else
            {
                <a asp-action="Login" asp-controller="Account">Logowanie</a>
                <a asp-action="Register" asp-controller="Account">Rejestracja</a>
            }
        </div>
    </div>
    <div class="logo">
        <h1><a asp-action="Index" asp-controller="Home">Online Shop</a> </h1>
    </div>
    <div class="search-box">
        <form asp-action="GetAll" asp-controller="Product" method="get">
            <input placeholder="Szukaj" name="SearchBoxValue">
            <button type="submit"></button>
        </form>
    </div>
</div>

<script src="~/js/top-bar.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@if (!User.IsInRole("Administrator"))
{
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '../Cart/GetTotalInfo',
                dataType: 'json',
                success: function (result) {
                    if (result.quantity == 0) {
                        document.querySelector(".number-of-cart-items").style.display = "none";
                    }
                    else {
                        document.querySelector(".number-of-cart-items").style.display = "block";
                        document.querySelector(".number-of-cart-items").innerHTML = result.quantity;
                    }
                },
                error: function (ex) {
                    alert('Coś poszło nie tak' + ex);
                }
            });
            return false;
        })
    </script>
}

@if (User.IsInRole("User"))
{
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '../Favourites/GetQuantity',
                dataType: 'json',
                success: function (quantity) {
                    if (quantity == 0) {
                        document.querySelector(".number-of-favourites").style.display = "none";
                    }
                    else {
                        document.querySelector(".number-of-favourites").style.display = "block";
                        document.querySelector(".number-of-favourites").innerHTML = quantity;
                    }
                },
                error: function (ex) {
                    alert('Coś poszło nie tak' + ex);
                }
            });
            return false;
        })
    </script>
}