<div class="top-bar">
    <div class="options">
        <ul>
            <li class="favourites-icon"></li>
            <li class="cart-icon"><a asp-action="Index" asp-controller="Cart"></a></li>
            <li class="account-icon"></li>
        </ul>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <span>@User.Identity.Name</span>
                <a asp-action="LogOut" asp-controller="Account">Wyloguj</a>
            }
            else
            {
                <a asp-action="Login" asp-controller="Account">Logowanie</a>
                <a asp-action="Register" asp-controller="Account">Rejestracja</a>
            }
        </div>
    </div>
    <div class="logo">
        <h1><a asp-action="Index" asp-controller="Home">Online Shop</a> </h1>
    </div>
    <div class="search-box">
        <input placeholder="Szukaj">
        <button></button>
    </div>

   
</div>