<div class="top-bar">
    <div class="options">
        <ul>
            <li><a href="#" class="favourites-icon"></a></li>
            <li>
                <a asp-action="Index" asp-controller="Cart" class="cart-icon"></a>
                <div class="number-of-cart-items">0</div>
            </li>
            <li class="account-icon"></li>
        </ul>
        <div class="account-options-popup">
            @if (User.Identity.IsAuthenticated)
            {
                <span>@User.Identity.Name</span>
                <a asp-action="LogOut" asp-controller="Account">Wyloguj</a>
            }
            else
            {
                <a asp-action="Login" asp-controller="Account">Logowanie</a>
                <a asp-action="Register" asp-controller="Account">Rejestracja</a>
            }
        </div>
    </div>
    <div class="logo">
        <h1><a asp-action="Index" asp-controller="Home">Online Shop</a> </h1>
    </div>
    <div class="search-box">
        <input placeholder="Szukaj">
        <button></button>
    </div>
</div>

<script src="~/js/top-bar.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '../Cart/GetTotalQuantity',
                dataType: 'json',
                success: function (quantity) {
                    document.querySelector(".number-of-cart-items").innerHTML = quantity;
                },
                error: function (ex) {
                    alert('Coś poszło nie tak' + ex);
                }
            });
            return false;
        })

</script>