
@{
    ViewData["Title"] = "PurchaseFinalizedSuccesfully";
}

<main>
    <h2>Dziękujemy za zakupy w naszym sklepie</h2>

    <p class="additional-info">Zrobimy co w naszej mocy, by jak najszybciej zrealizować Twoje zamówienie :)</p>
</main>