
@{
    ViewData["Title"] = "PurchaseFinalizedSuccesfully";
}

<main>
    <h2>Thank you for shopping in our store.</h2>

    <p class="additional-info">We'll do our best to fulfill your order as soon as possible :)</p>
</main>